[?php

/*
 * Debug mode
 */
error_reporting(E_ALL);

require_once 'lib' . DS . 'Yeah' . DS . 'Fw' . DS . 'Application' . DS . 'App.php';
$app = new \Yeah\Fw\Application\App('<?php echo $this->app_name; ?>');

$app->routeGet('/', function() {
   echo "You have successfully created Yeah! framework application";
});

$app->execute();
