[?php

/*
 * Application specific paths
 */
$dir = dirname(__FILE__);

return array(
    'models' => $dir . DS . '..' . DS . 'models',
    'views' => $dir . DS . '..' . DS . 'views',
    'controllers' => $dir . DS . '..' . DS . 'controllers',
    'data' => $dir . DS . '..' . DS . 'data'
);
